<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./bio-diversity-v3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v14">
      <img class="biodiversity-v1-child2" alt="" src="./public/group-51.svg" />

      <section class="content">
        <img class="content-child" alt="" src="./public/group-51.svg" />

        <div class="content-inner">
          <div class="ellipse-parent3">
            <div class="frame-child48"></div>
            <img class="vector-icon11" alt="" src="./public/vector1.svg" />
          </div>
        </div>
      </section>
      <div class="frame-parent59">
        <div class="frame-parent60">
          <div class="learn-more-wrapper14">
            <div class="learn-more16">Learn More</div>
          </div>
          <div class="frame-parent61">
            <div class="icon-park-outlinelike-wrapper14">
              <img
                class="icon-park-outlinelike16"
                alt=""
                src="./public/iconparkoutlinelike1.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper14">
              <img
                class="solarbookmark-broken-icon16"
                alt=""
                src="./public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent62">
          <div class="learn-more-wrapper14">
            <div class="learn-more16">Learn More</div>
          </div>
          <div class="frame-parent61">
            <div class="icon-park-outlinelike-wrapper14">
              <img
                class="icon-park-outlinelike16"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper14">
              <img
                class="solarbookmark-broken-icon16"
                alt=""
                src="./public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent64">
          <div class="learn-more-wrapper14">
            <div class="learn-more16">Learn More</div>
          </div>
          <div class="frame-parent61">
            <div class="icon-park-outlinelike-wrapper14">
              <img
                class="icon-park-outlinelike16"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper14">
              <img
                class="solarbookmark-broken-icon16"
                alt=""
                src="./public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent60">
          <div class="learn-more-wrapper14">
            <div class="learn-more16">Learn More</div>
          </div>
          <div class="frame-parent61">
            <div class="icon-park-outlinelike-wrapper14">
              <img
                class="icon-park-outlinelike16"
                alt=""
                src="./public/iconparkoutlinelike1.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper14">
              <img
                class="solarbookmark-broken-icon16"
                alt=""
                src="./public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="about-us3">about uS</div>
      <section class="instance-parent">
        <div class="frame-parent68">
          <div class="frame-parent69">
            <img
              id="mybutton"
              class="frame-child49"
              loading="lazy"
              alt=""
              src="./public/group-1000005086-2.svg"
            />
            <script type="text/javascript">
              document.getElementById("mybutton").onclick = function () {
                window.location.href = "bio-diversity-v1.html";
            };
            </script>
            <div class="login-buttons-wrapper">
              <div class="login-buttons">
                <div class="login-buttons-inner" id="frameContainer">
                  <div class="home-container">
                    <div class="home3">Home</div>
                  </div>
                </div>
                <div class="login-buttons-child">
                  <div class="endangered-animal-predictor-wrapper1">
                    <div id="myButon" class="endangered-animal-predictor-container3">
                      <p class="endangered-animal3">Endangered animal</p>
                      <p class="predictor3">predictor</p>
                      <script type="text/javascript">
                        document.getElementById("myButon").onclick = function () {
                          window.location.href = "bio-diversity-v4.html";
                      };
                      </script>                      
                    </div>
                  </div>
                </div>
                <div class="login-buttons-inner1" id="frameContainer2">
                  <div class="donations-wrapper1">
                    <div class="donations4">Donations</div>
                  </div>
                </div>
                <div class="login-buttons-inner1" id="frameContainer3">
                  <div class="blogs-wrapper1">
                    <div class="blogs3">Blogs</div>
                  </div>
                </div>
                <button id="myButton" class="about-us-wrapper1">
                  <div class="about-us4">About Us</div>
                  <script type="text/javascript">
                    document.getElementById("myButton").onclick = function () {
                      window.location.href = "bio-diversity-v3.html";
                  };
                  </script>
                </button>
              </div>
            </div>
          </div>
          <button id="myButto" class="log-out-wrapper">
            <div class="log-out3">LOG OUT</div>
            <script type="text/javascript">
              document.getElementById("myButto").onclick = function () {
                window.location.href = "./index.html";
            };
            </script>
          </button>
        </div>
        <div class="rectangle-parent12">
          <header class="rectangle-header"></header>
          <div class="frame-parent70">
            <button class="frame-parent71">
              <div class="ellipse-parent4">
                <div class="frame-child50"></div>
                <div class="search-bar1"></div>
              </div>
              <div class="search-wrapper1">
                <div class="search4">Search</div>
              </div>
            </button>
            <div class="ellipse-parent5">
              <img
                class="frame-child51"
                loading="lazy"
                alt=""
                src="./public/ellipse-3732@2x.png"
              />

              <div class="riddhi-jain-riddhijain1402g-wrapper2">
                <div class="riddhi-jain-riddhijain1402g-container3">
                  <p class="riddhi-jain3">Riddhi Jain</p>
                  <p class="riddhijain1402gmailcom3">
                    Riddhi.jain.1402@gmail.com
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper2">
            <div class="our-mission-parent">
              <div class="our-mission">Our mission:</div>
              <h1 class="predict-extinction-rate">
                predict extinction rate of endangered wildlife
              </h1>
              <div class="our-vision">Our Vision:</div>
              <h1 class="we-envision-a">
                We envision a world where biodiversity is celebrated and safeguarded
              </h1>
            </div>
          </div>
        </div>
      </section>
      <div class="biodiversity-v1-inner1">
        <img
          class="frame-child52"
          loading="lazy"
          alt=""
          src="./public/vector-95.svg"
        />
      </div>
      <section class="frame-section">
        <div class="our-team-parent">
          <div class="our-team">Our Team:</div>
          <h3 class="our-dedicated-team">
            Our dedicated team work tirelessly to monitor and protect endangered species.
          </h3>
        </div>
      </section>
      <section class="biodiversity-v1-inner2">
        <div class="team-members-parent">
          <div class="team-members">
            <div class="akshansh-our-team-parent">
              <img
                class="akshansh-our-team"
                loading="lazy"
                alt=""
                src="./public/akshansh--our-team@1x.png"
              />

              <div class="akshansh-sharma-parent">
                <div class="akshansh-sharma">Akshansh Sharma</div>
                <div class="scientist-and-developer">
                  Developer
                </div>
                <blockquote class="our-goal-is">
                  “Our goal is to reduce the rate of species extinction and
                  habitat loss through innovative conservation strategies and
                  collaborative efforts with local and global partners”
                </blockquote>
              </div>
            </div>
            <div class="nikunj-our-team-group">
              <img
                class="akshansh-our-team"
                loading="lazy"
                alt=""
                src="./public/nikunj--our-team-1@2x.png"
              />

              <div class="nikunj-dev-yadav-parent">
                <div class="akshansh-sharma">Nikunj Dev yadav</div>
                <div class="scientist-and-developer">
                  Developer
                </div>
                <blockquote class="our-goal-is">
                  “Our goal is to reduce the rate of species extinction and
                  habitat loss through innovative conservation strategies and
                  collaborative efforts with local and global partners”
                </blockquote>
              </div>
            </div>
          </div>
          <div class="riddhi-our-team-group">
            <img
              class="riddhi-our-team"
              loading="lazy"
              alt=""
              src="./public/riddhi--our-team@2x.png"
            />

            <div class="akshansh-sharma-parent">
              <div class="akshansh-sharma">Riddhi Jain</div>
              <div class="scientist-and-developer">Designer</div>
              <blockquote class="our-goal-is">
                “Our goal is to reduce the rate of species extinction and
                habitat loss through innovative conservation strategies and
                collaborative efforts with local and global partners”
              </blockquote>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v1.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v2.html";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v12.html";
        });
      }
      </script>
  </body>
</html>
