<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v12">
      <img class="biodiversity-v1-item" alt="" src="./public/group-51.svg" />

      <div class="frame-parent36">
        <div class="frame-parent37">
          <div class="learn-more-wrapper6">
            <div class="learn-more8">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper6">
              <img
                class="icon-park-outlinelike8"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper6">
              <img
                class="solarbookmark-broken-icon8"
                alt=""
                src="./public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent39">
          <div class="learn-more-wrapper6">
            <div class="learn-more8">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper6">
              <img
                class="icon-park-outlinelike8"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper6">
              <img
                class="solarbookmark-broken-icon8"
                alt=""
                src="./public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent41">
          <div class="learn-more-wrapper6">
            <div class="learn-more8">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper6">
              <img
                class="icon-park-outlinelike8"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper6">
              <img
                class="solarbookmark-broken-icon8"
                alt=""
                src="./public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent37">
          <div class="learn-more-wrapper6">
            <div class="learn-more8">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper6">
              <img
                class="icon-park-outlinelike8"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper6">
              <img
                class="solarbookmark-broken-icon8"
                alt=""
                src="./public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="frame-parent45">
        <div class="rectangle-parent4">
          <div class="frame-child27"></div>
          <img class="vector-icon8" alt="" src="./public/vector.svg" />
        </div>
        <div class="rectangle-parent5">
          <div class="frame-child27"></div>
          <img class="vector-icon8" alt="" src="./public/vector.svg" />
        </div>
        <div class="rectangle-parent6">
          <div class="frame-child27"></div>
          <img class="vector-icon8" alt="" src="./public/vector-2.svg" />
        </div>
        <div class="sugar-levels1">Sugar Levels</div>
        <div class="bgm2">BGM</div>
        <div class="bgm3">BGM</div>
        <div class="averge1">Averge</div>
        <div class="mmoll2">3.9 mmol/L</div>
        <div class="beats-minute1">78-82 beats /minute</div>
        <div class="and-180-mgdl1">70 and 180 mg/dL</div>
        <div class="you1">You</div>
        <div class="mmoll3">4.5 mmol/L</div>
        <div class="beats-min1">82 beats /min</div>
        <div class="mgdl1">70-100 mg/dL</div>
        <div class="high-detail-white-world-map-1-parent">
          <img
            class="high-detail-white-world-map-1-icon1"
            alt=""
            src="./public/20210703213highdetailwhiteworldmap-1-11@2x.png"
          />

          <div class="rectangle-parent7">
            <div class="frame-child30"></div>
            <img
              class="frame-child31"
              loading="lazy"
              alt=""
              src="./public/group-1000005069.svg"
            />
          </div>
        </div>
        <h1 class="animal-locations1">Animal Locations</h1>
        <div class="frame-wrapper1">
          <div class="choice-options-parent">
            <div class="choice-options">
              <div class="choose-animal2">Choose animal</div>
              <div class="animal-list">
                <div class="leopard1">Leopard</div>
                <img
                  class="animal-list-child"
                  alt=""
                  src="./public/group-1000005086@2x.png"
                />
              </div>
            </div>
            <div class="zoom-info1">
              <div class="zoom-in-to-container1">
                <p class="zoom-in-to1">Zoom in to display</p>
                <p class="zoom-in-to1">more locations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent8">
        <div class="frame-child32"></div>
        <div class="statistics-content-wrapper">
          <div class="statistics-content1">
            <div class="statistics-header1">
              <div class="animal-extinction-statistics-container1">
                <p class="animal-extinction1">Animal Extinction</p>
                <p class="zoom-in-to1">Statistics</p>
              </div>
              <div class="statistics-options">
                <div class="animal-choice">
                  <div class="choose-animal-input">
                    <div class="choose-animal3">Choose animal</div>
                  </div>
                  <div class="selected-animal">-</div>
                  <div class="dropdown1">
                    <img
                      class="dropdown-child"
                      alt=""
                      src="./public/group-1000005086-1@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="survival-info1">
              <div class="survival-rate1">
                <img
                  class="survival-rate-child"
                  loading="lazy"
                  alt=""
                  src="./public/group-1000005066.svg"
                />
              </div>
              <div class="survival-label">
                <div class="survival-rate2">Survival rate</div>
              </div>
              <div class="max-time-parent">
                <div class="max-time1">Max Time</div>
                <div class="time-value">
                  <img
                    class="mingcutedown-fill-icon1"
                    loading="lazy"
                    alt=""
                    src="./public/mingcutedownfill.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-rows-parent">
          <div class="grid-rows">
            <div class="grid-cells">
              <img class="grid-cells-child" loading="lazy" alt="" />
            </div>
            <div class="grid-content">1960</div>
          </div>
          <div class="grid-rows1">
            <div class="grid-rows-inner">
              <img class="frame-child33" loading="lazy" alt="" />
            </div>
            <div class="div6">1970</div>
          </div>
          <div class="grid-rows1">
            <div class="grid-rows-inner">
              <img class="frame-child33" loading="lazy" alt="" />
            </div>
            <div class="div6">1980</div>
          </div>
          <div class="grid-rows3">
            <div class="grid-cells">
              <img class="frame-child33" loading="lazy" alt="" />
            </div>
            <div class="div6">1990</div>
          </div>
          <div class="grid-rows1">
            <div class="grid-rows-inner">
              <img class="frame-child33" loading="lazy" alt="" />
            </div>
            <div class="div6">2000</div>
          </div>
          <div class="grid-rows1">
            <div class="grid-rows-inner">
              <img class="frame-child33" loading="lazy" alt="" />
            </div>
            <div class="div6">2010</div>
          </div>
          <div class="grid-rows6">
            <div class="grid-cells">
              <img class="frame-child33" loading="lazy" alt="" />
            </div>
            <div class="div11">2020</div>
          </div>
          <img
            class="frame-child39"
            alt=""
            src="./public/group-1000005064.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent9">
        <div class="frame-child40"></div>
        <div class="conservation-info">
          <div class="conservation-stats-parent">
            <div class="conservation-stats">
              <div class="sq-km-is1">
                44,000 + sq km is conserved for wildlife conservation
              </div>
            </div>
            <img
              class="frame-child41"
              loading="lazy"
              alt=""
              src="./public/line-76.svg"
            />

            <div class="conservation-stats1">
              <a class="countries-are-engaged1"
                >160+ Countries are engaged in wildlife conservation</a
              >
            </div>
          </div>
        </div>
        <div class="frame-parent46">
          <div class="want-to-be-a-part-of-our-missi-wrapper">
            <div class="want-to-be1">Want to be a part of our mission?</div>
          </div>
          <div class="contribution-options">
            <div class="contribution-types">
              <div class="contribution-headers">
                <div class="help-us-by2">Help us by</div>
              </div>
              <a class="donating-funds1">Donating funds</a>
            </div>
            <div class="contribution-types1">
              <div class="help-us-by-frame">
                <div class="help-us-by2">Help us by</div>
              </div>
              <a class="volunteering-for-a1"
                >Volunteering for a nearby Bio Reserve</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent10">
        <div class="frame-child42"></div>
        <div class="subscribe-to-our-newsletter-to-container">
          <div class="sq-km-is1">
            Subscribe to our newsletter to get insights about the topics that
            suit your interests
          </div>
        </div>
        <div class="email-input1">
          <div class="input-field">
            <div class="enter-you-email1">Enter you email</div>
            <input
              class="email-placeholder"
              placeholder="___________________________"
              type="text"
            />
          </div>
          <button id="button" class="submit-button1">
            <div class="subscribe-now1">Subscribe now</div>
          </button>
        </div>
      </div>
      <div class="footer-content-group">
        <div class="footer-content1">
          <img
            class="footer-content-item"
            loading="lazy"
            alt=""
            src="./public/group-1000005086-2.svg"
          />

          <div class="navigation-links-wrapper">
            <nav class="navigation-links">
              <div class="navigation-links-inner" id="frameContainer">
                <div class="home-wrapper">
                  <div class="home2">Home</div>
                </div>
              </div>
              <div class="navigation-links-child">
                <div class="endangered-animal-predictor-frame">
                  <div id="myButon" class="endangered-animal-predictor-container2">
                    <p class="endangered-animal2">Endangered animal</p>
                    <p class="predictor2">predictor</p>
                    <script type="text/javascript">
                      document.getElementById("myButon").onclick = function () {
                        window.location.href = "bio-diversity-v4.html";
                    };
                    </script>
                  </div>
                </div>
              </div>
              <button id="mButon" class="donations-frame">
                <div class="donations3">Donations</div>
                <script type="text/javascript">
                  document.getElementById("mButon").onclick = function () {
                    window.location.href = "bio-diversity-v2.html";
                };
                </script>
              </button>
              <div class="navigation-links-inner1" id="frameContainer2">
                <div class="blogs-frame">
                  <div class="blogs2">Blogs</div>
                </div>
              </div>
              <button  class="navigation-links-inner2" id="myButton">
                <div class="about-us-frame">
                  <div class="about-us2">About Us</div>
                  <script type="text/javascript">
                    document.getElementById("myButton").onclick = function () {
                      window.location.href = "bio-diversity-v3.html";
                  };
                  </script>
                </div>
              </button>
            </nav>
          </div>
        </div>
      </div>
      <nav class="header">
        <button class="header-content">
          <div class="search-bar">
            <div class="ellipse-container">
              <div class="frame-child43"></div>
              <div class="frame-child44"></div>
            </div>
            <div class="search1">Search</div>
          </div>
        </button>
        <button id="but" class="auth-buttons">
          <a class="sign-in">Sign In</a>

        </button>
        <button class="signup-button">
          <div class="signup-label">
            <div class="sign-up">Sign Up</div>
          </div>
        </button>
      </nav>
    </div>

    <script>
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v2.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v12.html";
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          // Please sync "BioDiversity V1" to the project
        });
      }
      </script>
  </body>
</html>
