<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./bio-diversity-v4.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body id="body">
    <div class="biodiversity-v16">
      <img class="biodiversity-v1-child3" alt="" src="./public/group-51.svg" />

      <div class="frame-parent78">
        <div class="frame-parent79">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent80">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="./public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent81">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent80">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="./public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent83">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent80">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="./public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent79">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent80">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="./public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      
      <div class="main-container">
        <div class="navigation-container-parent">
          <div class="navigation-container">
            <img
              id="mybutton"
              class="navigation-container-child"
              loading="lazy"
              alt=""
              src="./public/group-1000005086-2.svg"
            />
            <script type="text/javascript">
              document.getElementById("mybutton").onclick = function () {
                window.location.href = "bio-diversity-v1.html";
            };
            </script>
            <div class="navigation-container-inner">
              <nav class="instance-group">
                <div class="links-items-wrapper" id="frameContainer">
                  <div class="links-items">
                    <div class="home5">Home</div>
                  </div>
                </div>
                <div class="links-items-wrapper" id="frameContainer1">
                  <div class="home-frame">
                    <div id="myButon" class="home6">
                      <p class="endangered-animal5">Endangered animal</p>
                      <p class="predictor5">predictor</p>
                      <script type="text/javascript">
                        document.getElementById("myButon").onclick = function () {
                          window.location.href = "bio-diversity-v3.html";
                      };
                      </script>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper4" id="frameContainer2">
                  <div class="donations-wrapper3">
                    <div class="donations6">Donations</div>
                  </div>
                </div>
                <div class="frame-wrapper4" id="frameContainer3">
                  <div class="blogs-wrapper2">
                    <div class="blogs5">Blogs</div>
                  </div>
                </div>
                <button id="myButton" class="frame-wrapper6" id="frameButton">
                  <div class="about-us-wrapper3">
                    <div class="about-us6">About Us</div>
                    <script type="text/javascript">
                      document.getElementById("myButton").onclick = function () {
                        window.location.href = "bio-diversity-v3.html";
                    };
                    </script>
                  </div>
                </button>
              </nav>
            </div>
          </div>
          <button id="myButto" class="log-out-container">
            <div class="log-out5">LOG OUT</div>
            <script type="text/javascript">
              document.getElementById("myButto").onclick = function () {
                window.location.href = "./index.html";
            };
            </script>
          </button>
        </div>
        <div class="content-container">
          <div class="form-container">
            <div class="form-fields">
              <h1 class="endangered-animal-predictor">
                Endangered Animal Predictor
              </h1>
              <div class="guide-enter-the">
                Guide: Enter the size values of the animal as asked below in centimeters
              </div>
            </div>
            <div class="rectangle-parent17">
              <div class="frame-child68"></div>
              <div class="amount-input-label-parent">
                <div class="amount-input-label">
                  <div class="enter-the-amount1">Enter the values (cm)</div>
                </div>
                <div class="frame-parent87">
                  <button class="size-fields-items-wrapper">
                    <div class="size-fields-items">
                      <div class="ear-size-in-container">
                        <span class="ear-size-in">ear Size (in </span>
                        <span class="cm">cm</span>
                        <span class="ear-size-in">)</span>
                      </div>
                    </div>
                  </button>
                  <button class="size-fields-items-wrapper">
                    <div class="size-fields-items">
                      <div class="ear-size-in-container">
                        <span class="ear-size-in">body Size (in </span>
                        <span class="cm">cm</span>
                        <span class="ear-size-in">)</span>
                      </div>
                    </div>
                  </button>
                  <button class="size-fields-items-wrapper">
                    <div class="size-fields-items">
                      <div class="ear-size-in-container">
                        <span class="ear-size-in">eye Size (in </span>
                        <span class="cm">cm</span>
                        <span class="ear-size-in">)</span>
                      </div>
                    </div>
                  </button>
                  <button class="size-fields-items-wrapper">
                    <div class="size-fields-items">
                      <div class="heart-length-in-container">
                        <span class="ear-size-in">Heart Length (in </span>
                        <span class="cm">cm</span>
                        <span class="ear-size-in">)</span>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <button class="predict-endangered-animal-wrapper">
                <div class="predict-endangered-animal">
                  Predict endangered animal
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-container">
        <div class="footer-content2">
          <button class="footer-elements">
            <div class="ellipse-parent11">
              <div class="frame-child69"></div>
              <div class="frame-child70"></div>
            </div>
            <div class="search-wrapper3">
              <div class="search6">Search</div>
            </div>
          </button>
          <div class="profile-icon-parent">
            <img
              class="profile-icon"
              loading="lazy"
              alt=""
              src="./public/ellipse-3731@2x.png"
            />

            <div class="profile-info">
              <div class="riddhi-jain-riddhijain1402g-container5">
                <p class="riddhi-jain6">User</p>
                <p class="riddhijain1402gmailcom5">
                  User.example@gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v1.html";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "bio-diversity-v4.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v2.html";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v12.html";
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
        });
      }
      </script>
  </body>
</html>
