<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./templates/home-logged-in/bio-diversity-v1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v11">
      <img class="biodiversity-v1-child" alt="" src="./public/group-51.svg" />
      <div class="frame-parent19">
        <div class="frame-parent20">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent21">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="./public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent22">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent21">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="./public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent24">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent21">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="./public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent20">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent21">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="./public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="./public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <button class="main-content">
        <div class="ellipse-group">
          <div class="ellipse-div"></div>
          <div class="frame-child12"></div>
        </div>
        <div class="search-container">
          <div class="search1">Search</div>
        </div>
      </button>
      <div class="profile-picture-group">
        <img
          class="profile-picture-icon1"
          loading="lazy"
          alt=""
          src="./public/ellipse-3731@2x.png"
        />

        <div class="riddhi-jain-riddhijain1402g-frame">
          <div class="riddhi-jain-riddhijain1402g-container1">
            <p class="riddhi-jain1">User</p>
            <p class="riddhijain1402gmailcom1">User.example@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="frame-parent28">
        <div class="rectangle-parent">
          <div class="frame-child13"></div>
          <img class="vector-icon5" alt="" src="./public/vector.svg" />
        </div>
        <div class="rectangle-group">
          <div class="frame-child13"></div>
          <img class="vector-icon5" alt="" src="./public/vector.svg" />
        </div>
        <div class="rectangle-container">
          <div class="frame-child13"></div>
          <img class="vector-icon5" alt="" src="./public/vector-2.svg" />
        </div>
        <div class="sugar-levels">Sugar Levels</div>
        <div class="bgm">BGM</div>
        <div class="bgm1">BGM</div>
        <div class="averge">Averge</div>
        <div class="mmoll">3.9 mmol/L</div>
        <div class="beats-minute">78-82 beats /minute</div>
        <div class="and-180-mgdl">70 and 180 mg/dL</div>
        <div class="you">You</div>
        <div class="mmoll1">4.5 mmol/L</div>
        <div class="beats-min">82 beats /min</div>
        <div class="mgdl">70-100 mg/dL</div>
        <div class="map-and-controls">
          <img
            class="high-detail-white-world-map-1-icon"
            alt=""
            src="./public/20210703213highdetailwhiteworldmap-1-1@2x.png"
          />

          <div class="map-controls">
            <div class="map-controls-child"></div>
            <img
              class="map-controls-item"
              loading="lazy"
              alt=""
              src="./public/group-1000005069.svg"
            />
          </div>
        </div>
        <h1 class="animal-locations">Animal Locations</h1>
        <div class="animal-selection">
          <div class="dropdown-parent">
            <div class="dropdown">
              <div class="choose-animal">Choose animal</div>
              <div class="options">
                <div class="leopard">Leopard</div>
                <img
                  class="options-child"
                  alt=""
                  src="./public/group-1000005086@2x.png"
                />
              </div>
            </div>
            <div class="zoom-info">
              <div class="zoom-in-to-container">
                <p class="zoom-in-to">Zoom in to display</p>
                <p class="zoom-in-to">more locations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent1">
        <div class="frame-child16"></div>
        <div class="statistics-content">
          <div class="statistics-header-parent">
            <div class="statistics-header">
              <div class="animal-extinction-statistics-container">
                <p class="animal-extinction">Animal Extinction</p>
                <p class="zoom-in-to">Statistics</p>
              </div>
              <div class="animal-selection-stats">
                <div class="dropdown-stats">
                  <div class="choose-animal-wrapper">
                    <div class="choose-animal1">Choose animal</div>
                  </div>
                  <div class="stats-value">-</div>
                  <div class="stats-visualization">
                    <img
                      class="stats-visualization-child"
                      alt=""
                      src="./public/group-1000005086-1@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="survival-info">
              <div class="survival-info-inner">
                <img
                  class="frame-child17"
                  loading="lazy"
                  alt=""
                  src="./public/group-1000005066.svg"
                />
              </div>
              <div class="rate-label">
                <div class="survival-rate">Survival rate</div>
              </div>
              <div class="time-info">
                <div class="max-time">Max Time</div>
                <div class="time-visualization">
                  <img
                    class="mingcutedown-fill-icon"
                    loading="lazy"
                    alt=""
                    src="./public/mingcutedownfill.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="separator">
          <div class="frame-parent29">
            <div class="line-wrapper">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="separator-content">1960</div>
          </div>
          <div class="frame-parent30">
            <div class="line-container">
              <img class="frame-child18" loading="lazy" alt="" />
            </div>
            <div class="div">1970</div>
          </div>
          <div class="frame-parent30">
            <div class="line-container">
              <img class="frame-child18" loading="lazy" alt="" />
            </div>
            <div class="div">1980</div>
          </div>
          <div class="frame-parent32">
            <div class="line-wrapper">
              <img class="frame-child18" loading="lazy" alt="" />
            </div>
            <div class="div">1990</div>
          </div>
          <div class="frame-parent30">
            <div class="line-container">
              <img class="frame-child18" loading="lazy" alt="" />
            </div>
            <div class="div">2000</div>
          </div>
          <div class="frame-parent30">
            <div class="line-container">
              <img class="frame-child18" loading="lazy" alt="" />
            </div>
            <div class="div">2010</div>
          </div>
          <div class="frame-parent35">
            <div class="line-wrapper">
              <img class="frame-child18" loading="lazy" alt="" />
            </div>
            <div class="div5">2020</div>
          </div>
          <img
            class="separator-child"
            alt=""
            src="./public/group-1000005064.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent2">
        <div class="frame-child24"></div>
        <div class="conservation-content">
          <div class="conservation-details-parent">
            <div class="conservation-details">
              <div class="sq-km-is">
                44,000 + sq km is conserved for wildlife conservation
              </div>
            </div>
            <img
              class="frame-child25"
              loading="lazy"
              alt=""
              src="./public/line-76.svg"
            />

            <div class="conservation-details1">
              <div class="sq-km-is">
                160+ Countries are engaged in wildlife conservation
              </div>
            </div>
          </div>
        </div>
        <div class="call-to-action">
          <div class="mission-statement">
            <div class="want-to-be">Want to be a part of our mission?</div>
          </div>
          <div class="donation-options">
            <div class="donation-buttons">
              <div class="help-us-by-wrapper">
                <div class="help-us-by">Help us by</div>
              </div>
              <div class="donating-funds">Donating funds</div>
            </div>
            <div class="donation-buttons1">
              <div class="help-us-by-container">
                <div class="help-us-by">Help us by</div>
              </div>
              <a class="volunteering-for-a"
                >Volunteering for a nearby Bio Reserve</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent3">
        <div class="frame-child26"></div>
        <div class="subscribe-to-our-newsletter-to-wrapper">
          <div class="sq-km-is">
            Subscribe to our newsletter to get insights about the topics that
            suit your interests
          </div>
        </div>
        <div class="email-input">
          <div class="enter-you-email-parent">
            <div class="enter-you-email">Enter you email</div>
            <input
              class="input"
              placeholder="_____________________________"
              type="text"
            />
          </div>
          <button id="button" class="subscription-button">
            <div class="subscribe-now">Subscribe now</div>
            <script type="text/javascript">
              document.getElementById("button").onclick = function () {
                location.href = "http://127.0.0.1:5502/subscribe.html";
            };
            </script>
          </button>
        </div>
      </div>
      <div class="footer-content-parent">
        <div class="footer-content">
          <img
            id="mybutton"
            class="footer-content-child"
            loading="lazy"
            alt=""
            src="./public/group-1000005086-2.svg"
          />
          <script type="text/javascript">
            document.getElementById("mybutton").onclick = function () {
              window.location.href = "bio-diversity-v1.html";
          };
          </script>
          <div class="footer-links">
            <nav class="link-categories">
              <button id="myutton" class="home-button">
                <div class="home">Home</div>
                <script type="text/javascript">
                  document.getElementById("myutton").onclick = function () {
                    window.location.href = "bio-diversity-v1.html";
                };
                </script>
              </button>
              <div class="link-categories-inner">
                <div class="endangered-animal-predictor-wrapper">
                  <div id="myButon" class="endangered-animal-predictor-container">
                    <p class="endangered-animal">Endangered animal</p>
                    <p class="zoom-in-to">predictor</p>
                    <script type="text/javascript">
                      document.getElementById("myButon").onclick = function () {
                        window.location.href = "bio-diversity-v4.html";
                    };
                    </script>
                  </div>
                </div>
              </div>
              <div class="link-categories-child" id="frameContainer1">
                <div class="donations-wrapper">
                  <div class="donations">Donations</div>
                </div>
              </div>
              <div class="link-categories-child" id="frameContainer2">
                <div class="blogs-wrapper">
                  <div class="blogs">Blogs</div>
                </div>
              </div>
              <button class="link-categories-inner2" id="myButton">
                <div class="about-us-wrapper">
                  <div class="about-us">About Us</div>
                  <script type="text/javascript">
                    document.getElementById("myButton").onclick = function () {
                      window.location.href = "bio-diversity-v3.html";
                  };
                  </script>
                </div>
              </button>
            </nav>
          </div>
        </div>
        <button id="myButto" class="logout-button">
          <div class="log-out">LOG OUT</div>
          <script type="text/javascript">
            document.getElementById("myButto").onclick = function () {
              window.location.href = "./index.html";
          };
          </script>
        </button>
      </div>
    </div>

    <script>
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v2.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./bio-diversity-v12.html";
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          // Please sync "BioDiversity V1" to the project
        });
      }
      </script>
  </body>
</html>
