body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-italiana: Italiana;

  /* font sizes */
  --font-size-sm-7: 13.7px;
  --font-size-mini-5: 14.5px;
  --font-size-sm-3: 13.3px;
  --font-size-smi: 13px;
  --font-size-xs-5: 11.5px;
  --font-size-mini-6: 14.6px;
  --font-size-smi-9: 12.9px;
  --font-size-lgi-7: 19.7px;
  --font-size-4xs-2: 8.2px;
  --font-size-2xs-1: 10.1px;
  --font-size-3xs: 10px;
  --font-size-sm-5: 13.5px;
  --font-size-4xs-8: 8.8px;
  --font-size-4xl-1: 23.1px;
  --font-size-lg: 18px;
  --font-size-lg-9: 18.9px;
  --font-size-3xs-4: 9.4px;
  --font-size-5xs-9: 7.9px;
  --font-size-5xs-5: 7.5px;
  --font-size-4xs-3: 8.3px;
  --font-size-3xs-1: 9.1px;
  --font-size-5xl-9: 24.9px;
  --font-size-xl: 20px;
  --font-size-5xs-8: 7.8px;
  --font-size-sm-8: 13.8px;
  --font-size-3xs-2: 9.2px;
  --font-size-6xl: 25px;
  --font-size-sm: 14px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-mid-2: 17.2px;
  --font-size-2xs-5: 10.5px;
  --font-size-4xl-2: 23.2px;
  --font-size-lgi: 19px;
  --font-size-xs-2: 11.2px;
  --font-size-base-4: 15.4px;
  --font-size-11xl-4: 30.4px;
  --font-size-5xl: 24px;
  --font-size-8xl-8: 27.8px;
  --font-size-3xl: 22px;
  --font-size-108xl: 127px;
  --font-size-13xl: 32px;
  --font-size-32xl: 51px;
  --font-size-smi-7: 12.7px;
  --font-size-base-2: 16.2px;
  --font-size-5xs-4: 7.4px;
  --font-size-3xs-9: 9.9px;
  --font-size-smi-6: 12.6px;
  --font-size-base: 16px;
  --font-size-9xl: 28px;

  /* Colors */
  --black-green: #11251f;
  --color-gray-500: #1b1c1c;
  --color-gray-100: #131313;
  --color-gray-600: #060606;
  --color-gray-700: rgba(17, 37, 31, 0.43);
  --color-gray-800: rgba(21, 31, 27, 0.63);
  --color-gray-200: rgba(255, 255, 255, 0.04);
  --color-gray-300: rgba(255, 255, 255, 0.25);
  --color-gray-400: rgba(19, 19, 19, 0.3);
  --color-gray-900: rgba(255, 255, 255, 0);
  --green: #379777;
  --color-seagreen-100: rgba(55, 151, 119, 0.2);
  --color-seagreen-200: rgba(55, 151, 119, 0.49);
  --color-seagreen-300: rgba(55, 151, 119, 0.13);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: #d8d8d8;
  --color-gainsboro-300: rgba(230, 230, 230, 0);
  --color-mediumaquamarine: #52b091;
  --color-white: #fff;
  --color-darkslategray-100: #474747;
  --dark-green: #215e4a;
  --color-darkslategray-200: rgba(48, 48, 48, 0.2);
  --color-darkslategray-300: rgba(71, 71, 71, 0.19);
  --color-dimgray: rgba(110, 110, 110, 0.19);
  --color-teal: #478570;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-xl: 20px;
  --gap-5xl-1: 24.1px;
  --gap-8xs: 5px;
  --gap-4xs-9: 8.9px;
  --gap-smi-3: 12.3px;
  --gap-5xs-6: 7.6px;
  --gap-6xs-9: 6.9px;
  --gap-629xl-4: 648.4px;
  --gap-mid-6: 17.6px;
  --gap-smi-8: 12.8px;
  --gap-4xs-2: 8.2px;
  --gap-10xs-9: 2.9px;
  --gap-19xl-7: 38.7px;
  --gap-4xs-6: 8.6px;
  --gap-12xs-9: 0.9px;
  --gap-18xl-8: 37.8px;
  --gap-xs-8: 11.8px;
  --gap-3xs-1: 9.1px;
  --gap-8xs-6: 4.6px;
  --gap-8xs-4: 4.4px;
  --gap-14xl-8: 33.8px;
  --gap-7xs-5: 5.5px;
  --gap-6xs: 7px;
  --gap-6xl-6: 25.6px;
  --gap-5xs-7: 7.7px;
  --gap-sm: 14px;
  --gap-smi-9: 12.9px;
  --gap-7xs-1: 5.1px;
  --gap-23xl: 42px;
  --gap-xl-4: 20.4px;
  --gap-base: 16px;
  --gap-mid: 17px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-15xl: 34px;
  --gap-2xl-3: 21.3px;
  --gap-14xl-9: 33.9px;
  --gap-4xl-6: 23.6px;

  /* Paddings */
  --padding-27xl-2: 46.2px;
  --padding-10xl: 29px;
  --padding-3xl: 22px;
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-8xl: 27px;
  --padding-14xl: 33px;
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-13xl: 32px;
  --padding-46xl: 65px;
  --padding-4xs: 9px;
  --padding-lgi: 19px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-7xs-5: 5.5px;
  --padding-12xs: 1px;
  --padding-5xl: 24px;
  --padding-11xs-1: 1.1px;
  --padding-10xs: 3px;
  --padding-10xs-7: 2.7px;
  --padding-7xs-4: 5.4px;
  --padding-10xs-1: 2.1px;
  --padding-7xs-7: 5.7px;
  --padding-7xs-6: 5.6px;
  --padding-7xs-9: 5.9px;
  --padding-8xs: 5px;
  --padding-6xs-1: 6.1px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-3xs-2: 9.2px;
  --padding-10xs-8: 2.8px;
  --padding-7xs-2: 5.2px;
  --padding-mid: 17px;
  --padding-4xl: 23px;
  --padding-lg: 18px;
  --padding-mid-5: 17.5px;
  --padding-23xl: 42px;
  --padding-6xs: 7px;
  --padding-32xl: 51px;
  --padding-21xl: 40px;
  --padding-base-5: 16.5px;
  --padding-30xl: 49px;
  --padding-23xl-5: 42.5px;
  --padding-35xl: 54px;
  --padding-30xl-2: 49.2px;
  --padding-17xl: 36px;
  --padding-18xl: 37px;
  --padding-10xl-3: 29.3px;
  --padding-10xl-2: 29.2px;
  --padding-9xs-7: 3.7px;
  --padding-37xl: 56px;
  --padding-40xl: 59px;
  --padding-12xl-6: 31.6px;
  --padding-xl-6: 20.6px;
  --padding-31xl: 50px;
  --padding-27xl: 46px;
  --padding-10xl-1: 29.1px;
  --padding-16xl: 35px;
  --padding-51xl: 70px;
  --padding-8xs-5: 4.5px;
  --padding-9xs-5: 3.5px;
  --padding-base-6: 16.6px;
  --padding-2xs: 11px;
  --padding-lgi-2: 19.2px;
  --padding-2xs-9: 10.9px;
  --padding-12xs-1: 0.1px;
  --padding-7xs-3: 5.3px;
  --padding-xs-1: 11.1px;
  --padding-22xl-5: 41.5px;
  --padding-4xs-4: 8.4px;
  --padding-7xs: 6px;
  --padding-4xs-3: 8.3px;
  --padding-xl-9: 20.9px;
  --padding-408xl-3: 427.3px;
  --padding-4xs-9: 8.9px;
  --padding-22xl: 41px;
  --padding-lg-7: 18.7px;
  --padding-lg-6: 18.6px;
  --padding-lg-8: 18.8px;
  --padding-7xl: 26px;
  --padding-26xl-6: 45.6px;
  --padding-25xl-5: 44.5px;

  /* Border radiuses */
  --br-7xl-4: 26.4px;
  --br-8xl-9: 27.9px;
  --br-18xl-8: 37.8px;
  --br-24xl-8: 43.8px;
  --br-82xl-6: 101.6px;
  --br-3xs-3: 9.3px;
  --br-sm-8: 13.8px;
  --br-4xl-5: 23.5px;
  --br-10xl-4: 29.4px;
  --br-18xl-3: 37.3px;
  --br-55xl: 74px;
  --br-34xl-5: 53.5px;
  --br-17xl-9: 36.9px;
  --br-lg-7: 18.7px;
  --br-xs-5: 11.5px;
  --br-3xs-7: 9.7px;
  --br-18xl-2: 37.2px;
  --br-10xs-7: 2.7px;
  --br-8xl-5: 27.5px;
  --br-36xl-2: 55.2px;
  --br-base-6: 16.6px;
  --br-16xl: 35px;
  --br-18xl: 37px;
  --br-17xl-6: 36.6px;
  --br-17xl-5: 36.5px;
}
