<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/animal_predictor.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v16">
      <img class="biodiversity-v1-child4" alt="" src="/static/public/group-51.svg" />

      <div class="frame-parent70">
        <div class="frame-parent71">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent72">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="/static/public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent73">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent72">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="/static/public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent75">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent72">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="/static/public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent71">
          <div class="learn-more-wrapper22">
            <div class="learn-more24">Learn More</div>
          </div>
          <div class="frame-parent72">
            <div class="icon-park-outlinelike-wrapper22">
              <img
                class="icon-park-outlinelike24"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper22">
              <img
                class="solarbookmark-broken-icon24"
                alt=""
                src="/static/public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent12">
        <div class="frame-child51"></div>
        <div class="feature-entry">
          <h1 class="enter-the-feature">Enter the feature of your animal:</h1>
        </div>
        <div class="frame-parent79">
          <button class="size-fields-items-wrapper">
            <div class="size-fields-items">
              <div class="ear-size-in-container">
                <span class="ear-size-in">ear Size (in </span>
                <span class="cm">cm</span>
                <span class="ear-size-in">)</span>
              </div>
            </div>
          </button>
          <button class="size-fields-items-wrapper">
            <div class="size-fields-items">
              <div class="ear-size-in-container">
                <span class="ear-size-in">body Size (in </span>
                <span class="cm">cm</span>
                <span class="ear-size-in">)</span>
              </div>
            </div>
          </button>
          <button class="size-fields-items-wrapper">
            <div class="size-fields-items">
              <div class="ear-size-in-container">
                <span class="ear-size-in">eye Size (in </span>
                <span class="cm">cm</span>
                <span class="ear-size-in">)</span>
              </div>
            </div>
          </button>
          <button class="size-fields-items-wrapper">
            <div class="size-fields-items">
              <div class="heart-length-in-container">
                <span class="ear-size-in">Heart Length (in </span>
                <span class="cm">cm</span>
                <span class="ear-size-in">)</span>
              </div>
            </div>
          </button>
        </div>
        <button class="predict-endangered-animal-wrapper">
          <div class="predict-endangered-animal">Predict endangered animal</div>
        </button>
      </div>
      <h1 class="endangered-animal-predictor">Endangered Animal Predictor</h1>
      <h1 class="guide-enter-the">
        Guide: Enter the size values of the animal as asked below in centimeters
      </h1>
      <div class="page-layout-parent">
        <div class="page-layout">
          <img
            class="page-layout-child"
            loading="lazy"
            alt=""
            src="/static/public/group-1000005086-2.svg"
          />

          <div class="navigation1">
            <nav class="frame-nav">
              <div class="links-items-wrapper" id="frameContainer">
                <div class="links-items">
                  <div class="home5">Home</div>
                </div>
              </div>
              <div class="links-items-wrapper" id="frameContainer1">
                <div class="home-frame">
                  <div class="home6">
                    <p class="endangered-animal5">Endangered animal</p>
                    <p class="an-ai-predictor">predictor</p>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper8" id="frameContainer2">
                <div class="donations-wrapper3">
                  <div class="donations6">Donations</div>
                </div>
              </div>
              <div class="frame-wrapper8" id="frameContainer3">
                <div class="blogs-wrapper2">
                  <div class="blogs5">Blogs</div>
                </div>
              </div>
              <button class="frame-wrapper10" id="frameButton5">
                <div class="about-us-wrapper4">
                  <div class="about-us7">About Us</div>
                </div>
              </button>
            </nav>
          </div>
        </div>
        <button class="log-out-frame">
          <div class="log-out5">LOG OUT</div>
        </button>
      </div>
      <h1 class="an-ai-predictor-container">
        <p class="an-ai-predictor">
          An AI predictor designed to identify endangered animals based on
          physical features operates by utilizing advanced machine learning
          algorithms and a comprehensive dataset of animal characteristics.
        </p>
        <p class="an-ai-predictor">&nbsp;</p>
        <p class="an-ai-predictor">
          When a user provides the details , the AI processes this information
          through a trained model. This model has been developed using a vast
          collection of labeled data, where each entry corresponds to a specific
          animal and its features.
        </p>
        <p class="an-ai-predictor">&nbsp;</p>
        <p class="an-ai-predictor">
          By analyzing the input features, the AI compares them against its
          database to find the closest match. The system then predicts the name
          of the endangered animal that best fits the provided description. This
          technology not only aids in quick and accurate identification but also
          supports conservation efforts by raising awareness and facilitating
          research on endangered species.
        </p>
      </h1>
    </div>

    <script>
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./animal_predictor.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./donation.html";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./blogs.html";
        });
      }
      
      var frameButton5 = document.getElementById("frameButton5");
      if (frameButton5) {
        frameButton5.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      </script>
  </body>
</html>
