<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/article.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v17">
      <main class="main-container">
        <section class="content1"></section>
      </main>
      <div class="frame-parent80">
        <div class="frame-parent81">
          <div class="learn-more-wrapper26">
            <div class="learn-more28">Learn More</div>
          </div>
          <div class="frame-parent82">
            <div class="icon-park-outlinelike-wrapper26">
              <img
                class="icon-park-outlinelike28"
                alt=""
                src="/static/public/iconparkoutlinelike1.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper26">
              <img
                class="solarbookmark-broken-icon28"
                alt=""
                src="/static/public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent83">
          <div class="learn-more-wrapper26">
            <div class="learn-more28">Learn More</div>
          </div>
          <div class="frame-parent82">
            <div class="icon-park-outlinelike-wrapper26">
              <img
                class="icon-park-outlinelike28"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper26">
              <img
                class="solarbookmark-broken-icon28"
                alt=""
                src="/static/public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent85">
          <div class="learn-more-wrapper26">
            <div class="learn-more28">Learn More</div>
          </div>
          <div class="frame-parent82">
            <div class="icon-park-outlinelike-wrapper26">
              <img
                class="icon-park-outlinelike28"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper26">
              <img
                class="solarbookmark-broken-icon28"
                alt=""
                src="/static/public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent81">
          <div class="learn-more-wrapper26">
            <div class="learn-more28">Learn More</div>
          </div>
          <div class="frame-parent82">
            <div class="icon-park-outlinelike-wrapper26">
              <img
                class="icon-park-outlinelike28"
                alt=""
                src="/static/public/iconparkoutlinelike1.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper26">
              <img
                class="solarbookmark-broken-icon28"
                alt=""
                src="/static/public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="blogs-that-inspire-wrapper">
        <div class="blogs-that-inspire1" id="blogsThatInspire">
          Blogs that Inspire
        </div>
      </div>
      <div class="post-excerpt">
        <div class="edit-button">
          <div class="k-readings4">
            <span>750k </span>
            <span class="readings5">Readings</span>
          </div>
          <div class="ivory-and-extinction-container1">
            <span class="written-by">Ivory and Extinction: </span>
            <span class="how-poaching-is1"
              >How Poaching is Driving Elephants to the Brink.</span
            >
          </div>
        </div>
        <div class="reading-list">
          <div class="frame-parent89">
            <div class="lorem-ipsum-dolor-sit-amet-co-parent">
              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est
                laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </div>
              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
            <div class="paragraph-image-container">
              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="elephant-image-container">
                <div class="footer-content1">
                  <img
                    class="footer-content-item"
                    alt=""
                    src="/static/public/group-51.svg"
                  />

                  <img
                    class="premium-photo-elephant-famil1"
                    loading="lazy"
                    alt=""
                    src="/static/public/premium-photo---elephant-family-in-water-11@2x.png"
                  />
                </div>
                <div class="lorem-ipsum-dolor3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                  in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent89">
            <div class="content2">
              <div class="lorem-ipsum-dolor-sit-amet-co-group">
                <div class="lorem-ipsum-dolor">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                  in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="lorem-ipsum-dolor5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </div>
              </div>
              <div class="acknowledgement">
                <div class="thank-you">Thank You</div>
                <div class="written-by-akshansh-container">
                  <span class="written-by">Written by </span>
                  <span class="akshansh-sharma1">Akshansh Sharma</span>
                </div>
              </div>
            </div>
            <div class="paragraph-image-container">
              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est
                laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </div>
            </div>
          </div>
        </div>
        <div class="post-excerpt-child"></div>
      </div>
      <div class="biodiversity-v1-child5"></div>
      <div class="item-reads">
        <div class="frame-parent90" id="groupContainer">
          <div class="solarshare-bold-parent">
            <img
              class="solarshare-bold-icon"
              alt=""
              src="/static/public/solarsharebold.svg"
            />

            <img
              class="solarbookmark-bold-icon"
              alt=""
              src="/static/public/solarbookmarkbold.svg"
            />

            <img
              class="icon-park-solidlike"
              alt=""
              src="/static/public/iconparksolidlike.svg"
            />
          </div>
          <div class="content-item">
            <button class="item-details">
              <div class="item-title">
                <a class="edit-blog">Edit blog</a>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="item-image">
        <div class="related-title-container">
          <img
            class="preview-image-icon"
            loading="lazy"
            alt=""
            src="/static/public/vector-94.svg"
          />

          <div class="more-like-these">More like these</div>
        </div>
      </div>
      <div class="related-articles">
        <div class="article-header">
          <div class="article-header-inner">
            <div class="rectangle-parent13">
              <div class="frame-child52"></div>
              <div class="item-content">
                <img
                  class="bc07b37-124d-443a-beba-16d92b4-icon1"
                  loading="lazy"
                  alt=""
                  src="/static/public/0bc07b37124d443abeba16d92b459cbb-11@2x.png"
                />

                <div class="article-thumbnail"></div>
              </div>
              <div class="elephants-in-peril-container1">
                <span>
                  <span class="giraffes-on-the">Elephants in Peril:</span>
                  <span class="span7"> </span>
                </span>
                <span class="the-fight-to1"
                  >The Fight to Save Earth’s Largest Land Mammals.</span
                >
              </div>
              <div class="k-readings-wrapper">
                <div class="k-readings5">
                  <p class="k4">750k</p>
                  <p class="readings6">Readings</p>
                </div>
              </div>
            </div>
          </div>
          <div class="article-header-child">
            <div class="rectangle-parent14">
              <div class="frame-child52"></div>
              <div class="item-content">
                <img
                  class="bc07b37-124d-443a-beba-16d92b4-icon1"
                  loading="lazy"
                  alt=""
                  src="/static/public/50-of-the-worlds-most-gorgeous-photos-of-animals-11@2x.png"
                />

                <div class="article-thumbnail"></div>
              </div>
              <div class="giraffes-on-the-container1">
                <span>
                  <span class="giraffes-on-the">Giraffes on the Brink</span>
                </span>
                <span class="the-silent-crisis-facing-afric">
                  <span>:</span>
                  <span class="span8"> </span>
                  <span>The Silent Crisis Facing Africa’s Gentle Giants.</span>
                </span>
              </div>
              <div class="k-readings-wrapper">
                <div class="k-readings5">
                  <p class="k4">500k</p>
                  <p class="readings6">Readings</p>
                </div>
              </div>
            </div>
          </div>
          <div class="article-header-inner1">
            <div class="ad48b32-aa36-4fd8-95b5-28d0005-group">
              <img
                class="ad48b32-aa36-4fd8-95b5-28d0005-icon1"
                alt=""
                src="/static/public/6ad48b32aa364fd895b528d000500bff-11@2x.png"
              />

              <div class="related-article-image"></div>
              <div class="vanishing-giants-the-container1">
                <span>
                  <span class="giraffes-on-the">Vanishing Giants:</span>
                </span>
                <span class="the-silent-crisis-facing-afric">
                  <span> </span>
                  <span>The Extinct Bears of Our Planet</span>
                </span>
              </div>
            </div>
          </div>
          <div class="blog-link">
            <div class="k-readings7">
              <p class="k4">750k</p>
              <p class="readings6">Readings</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var blogsThatInspire = document.getElementById("blogsThatInspire");
      if (blogsThatInspire) {
        blogsThatInspire.addEventListener("click", function (e) {
          window.location.href = "./blogs.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./blog_editor.html";
        });
      }
      </script>
  </body>
</html>
