<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/donation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v13">
      <img class="biodiversity-v1-child2" alt="" src="/static/public/group-51.svg" />

      <div class="frame-parent36">
        <div class="frame-parent37">
          <div class="learn-more-wrapper10">
            <div class="learn-more12">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper10">
              <img
                class="icon-park-outlinelike12"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper10">
              <img
                class="solarbookmark-broken-icon12"
                alt=""
                src="/static/public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent39">
          <div class="learn-more-wrapper10">
            <div class="learn-more12">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper10">
              <img
                class="icon-park-outlinelike12"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper10">
              <img
                class="solarbookmark-broken-icon12"
                alt=""
                src="/static/public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent41">
          <div class="learn-more-wrapper10">
            <div class="learn-more12">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper10">
              <img
                class="icon-park-outlinelike12"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper10">
              <img
                class="solarbookmark-broken-icon12"
                alt=""
                src="/static/public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent37">
          <div class="learn-more-wrapper10">
            <div class="learn-more12">Learn More</div>
          </div>
          <div class="frame-parent38">
            <div class="icon-park-outlinelike-wrapper10">
              <img
                class="icon-park-outlinelike12"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper10">
              <img
                class="solarbookmark-broken-icon12"
                alt=""
                src="/static/public/solarbookmarkbroken1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent7">
        <div class="frame-child31"></div>
        <div class="country-input">
          <div class="enter-your-country">Enter Your Country</div>
          <button class="country-dropdown">
            <div class="india">India</div>
            <div class="india-dropdown">
              <img
                class="mingcutedown-fill-icon1"
                alt=""
                src="/static/public/mingcutedownfill1.svg"
              />
            </div>
          </button>
          <div class="enter-the-amount">Enter the amount</div>
        </div>
        <div class="amount-input">
          <div class="currency-symbol">
            <div class="wrapper">
              <div class="div7">
                <span>₹ </span>
                <span class="span">________________</span>
              </div>
            </div>
            <div class="amount-repeat">
              <div class="repeat-pair-one">
                <button class="container">
                  <div class="proceed">₹ 5,000</div>
                </button>
                <button class="container">
                  <div class="proceed">₹ 25,000</div>
                </button>
              </div>
              <div class="repeat-pair-one">
                <button class="container">
                  <div class="proceed">₹ 15,000</div>
                </button>
                <button class="container">
                  <div class="proceed">₹ 35,000</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="proceed-button">
          <button class="proceed-button1">
            <div class="proceed">Proceed</div>
          </button>
        </div>
      </div>
      <h1 class="donations2">Donations</h1>
      <div class="instance-container-parent">
        <div class="instance-container">
          <img
            class="instance-container-child"
            loading="lazy"
            alt=""
            src="/static/public/group-1000005086-2.svg"
          />

          <div class="navigation-bar">
            <nav class="navigation-links1">
              <div class="navigation-links-inner" id="frameContainer">
                <div class="home-wrapper">
                  <div class="home2">Home</div>
                </div>
              </div>
              <div class="navigation-links-inner" id="frameContainer1">
                <div class="endangered-animal-predictor-wrapper">
                  <div class="endangered-animal-predictor-container2">
                    <p class="endangered-animal2">Endangered animal</p>
                    <p class="our-biodiversity-conservation">predictor</p>
                  </div>
                </div>
              </div>
              <button class="donations-frame">
                <div class="donations3">Donations</div>
              </button>
              <div class="navigation-links-inner1" id="frameContainer2">
                <div class="blogs-frame">
                  <div class="blogs2">Blogs</div>
                </div>
              </div>
              <button class="navigation-links-inner2" id="frameButton5">
                <div class="about-us-wrapper1">
                  <div class="about-us3">About Us</div>
                </div>
              </button>
            </nav>
          </div>
        </div>
        <button class="logout-button1">
          <div class="log-out2">LOG OUT</div>
        </button>
      </div>
      <h2 class="our-biodiversity-conservation-container">
        <p class="our-biodiversity-conservation">
          Our biodiversity conservation project is dedicated to preserving the
          rich variety of life on Earth, which is essential for maintaining
          healthy ecosystems and ensuring the well-being of all species,
          including humans.
        </p>
        <p class="our-biodiversity-conservation">&nbsp;</p>
        <p class="our-biodiversity-conservation">
          However, the challenges we face are immense and require substantial
          resources. Donations from generous supporters like you are crucial for
          funding our on-the-ground conservation efforts, scientific research,
          and community outreach programs.
        </p>
        <p class="our-biodiversity-conservation">&nbsp;</p>
        <p class="our-biodiversity-conservation">
          These funds help us protect endangered species, restore habitats, and
          combat the threats of climate change and habitat destruction. By
          contributing to our cause, you are directly supporting the
          preservation of nature’s beauty and diversity for future generations.
        </p>
        <p class="our-biodiversity-conservation">&nbsp;</p>
        <p class="our-biodiversity-conservation">
          Your donation, no matter the size, makes a significant impact and
          helps us continue our vital work in safeguarding the planet’s
          biodiversity. Together, we can create a sustainable future where
          people and nature thrive. Thank you for considering supporting our
          mission.
        </p>
      </h2>
    </div>

    <script>
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./animal_predictor.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./blogs.html";
        });
      }
      
      var frameButton5 = document.getElementById("frameButton5");
      if (frameButton5) {
        frameButton5.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      </script>
  </body>
</html>
