<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/home_old.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="biodiversity-v11">
      <img class="biodiversity-v1-child" alt="" src="/static/public/group-51.svg" />

      <div class="frame-parent16">
        <div class="frame-parent17">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent18">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="/static/public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent19">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent18">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="/static/public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent21">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent18">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="/static/public/solarbookmarkbroken-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent17">
          <div class="learn-more-wrapper2">
            <div class="learn-more4">Learn More</div>
          </div>
          <div class="frame-parent18">
            <div class="icon-park-outlinelike-wrapper2">
              <img
                class="icon-park-outlinelike4"
                alt=""
                src="/static/public/iconparkoutlinelike.svg"
              />
            </div>
            <div class="solarbookmark-broken-wrapper2">
              <img
                class="solarbookmark-broken-icon4"
                alt=""
                src="/static/public/solarbookmarkbroken.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <button class="frame-button">
        <div class="ellipse-parent">
          <div class="ellipse-div"></div>
          <div class="rectangle-div"></div>
        </div>
        <div class="search-wrapper">
          <div class="search">Search</div>
        </div>
      </button>
      <div class="profile-picture-parent">
        <img
          class="profile-picture-icon"
          loading="lazy"
          alt=""
          src="/static/public/ellipse-3731@2x.png"
        />

        <div class="contact-info">
          <div class="riddhi-jain-riddhijain1402g-container">
            <p class="riddhi-jain">Riddhi Jain</p>
            <p class="riddhijain1402gmailcom">Riddhi.jain.1402@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="frame-parent25">
        <div class="rectangle-parent">
          <div class="frame-child10"></div>
          <img class="vector-icon5" alt="" src="/static/public/vector.svg" />
        </div>
        <div class="rectangle-group">
          <div class="frame-child10"></div>
          <img class="vector-icon5" alt="" src="/static/public/vector.svg" />
        </div>
        <div class="rectangle-container">
          <div class="frame-child10"></div>
          <img class="vector-icon5" alt="" src="/static/public/vector-2.svg" />
        </div>
        <div class="sugar-levels">Sugar Levels</div>
        <div class="bgm">BGM</div>
        <div class="bgm1">BGM</div>
        <div class="averge">Averge</div>
        <div class="mmoll">3.9 mmol/L</div>
        <div class="beats-minute">78-82 beats /minute</div>
        <div class="and-180-mgdl">70 and 180 mg/dL</div>
        <div class="you">You</div>
        <div class="mmoll1">4.5 mmol/L</div>
        <div class="beats-min">82 beats /min</div>
        <div class="mgdl">70-100 mg/dL</div>
        <div class="high-detail-white-world-map-1-parent">
          <img
            class="high-detail-white-world-map-1-icon"
            alt=""
            src="/static/public/20210703213highdetailwhiteworldmap-1-1@2x.png"
          />

          <div class="map-controls">
            <div class="control-button"></div>
            <img
              class="map-controls-child"
              loading="lazy"
              alt=""
              src="/static/public/group-1000005069.svg"
            />
          </div>
        </div>
        <h1 class="animal-locations">Animal Locations</h1>
        <div class="animal-info">
          <div class="animal-selection">
            <div class="animal-dropdown">
              <div class="choose-animal">Choose animal</div>
              <div class="animal-options">
                <div class="leopard">Leopard</div>
                <img
                  class="animal-options-child"
                  alt=""
                  src="/static/public/group-1000005086@2x.png"
                />
              </div>
            </div>
            <div class="zoom-info">
              <div class="zoom-in-to-container">
                <p class="zoom-in-to">Zoom in to display</p>
                <p class="zoom-in-to">more locations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent1">
        <div class="frame-child13"></div>
        <div class="statistics-content-wrapper">
          <div class="statistics-content">
            <div class="statistics-header">
              <div class="animal-extinction-statistics-container">
                <p class="animal-extinction">Animal Extinction</p>
                <p class="zoom-in-to">Statistics</p>
              </div>
              <div class="statistics-options">
                <div class="animal-selection-dropdown">
                  <div class="choose-animal-dropdown">
                    <div class="choose-animal1">Choose animal</div>
                  </div>
                  <div class="placeholder">-</div>
                  <div class="animal-selection-dropdown-inner">
                    <img
                      class="frame-child14"
                      alt=""
                      src="/static/public/group-1000005086-1@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="survival-info">
              <div class="survival-rate-container">
                <img
                  class="survival-rate-container-child"
                  loading="lazy"
                  alt=""
                  src="/static/public/group-1000005066.svg"
                />
              </div>
              <div class="survival-label">
                <div class="survival-rate">Survival rate</div>
              </div>
              <div class="max-time-container">
                <div class="max-time">Max Time</div>
                <div class="mingcutedown-fill-wrapper">
                  <img
                    class="mingcutedown-fill-icon"
                    loading="lazy"
                    alt=""
                    src="/static/public/mingcutedownfill.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div class="navigation-items">
            <div class="navigation-links">
              <img class="link-separators-icon" loading="lazy" alt="" />
            </div>
            <div class="div">1960</div>
          </div>
          <div class="navigation-items1">
            <div class="navigation-items-inner">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="div1">1970</div>
          </div>
          <div class="navigation-items1">
            <div class="navigation-items-inner">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="div1">1980</div>
          </div>
          <div class="navigation-items3">
            <div class="navigation-links">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="div1">1990</div>
          </div>
          <div class="navigation-items1">
            <div class="navigation-items-inner">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="div1">2000</div>
          </div>
          <div class="navigation-items1">
            <div class="navigation-items-inner">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="div1">2010</div>
          </div>
          <div class="navigation-items6">
            <div class="navigation-links">
              <img class="line-icon" loading="lazy" alt="" />
            </div>
            <div class="div6">2020</div>
          </div>
          <img
            class="navigation-child"
            alt=""
            src="/static/public/group-1000005064.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent2">
        <div class="frame-child20"></div>
        <div class="conservation-content">
          <div class="conservation-details">
            <div class="sq-km-is-conserved-for-wildlif-wrapper">
              <div class="sq-km-is">
                44,000 + sq km is conserved for wildlife conservation
              </div>
            </div>
            <img
              class="conservation-details-child"
              loading="lazy"
              alt=""
              src="/static/public/line-76.svg"
            />

            <div class="countries-are-engaged-in-wildl-wrapper">
              <div class="sq-km-is">
                160+ Countries are engaged in wildlife conservation
              </div>
            </div>
          </div>
        </div>
        <div class="call-to-action">
          <div class="mission-statement">
            <div class="want-to-be">Want to be a part of our mission?</div>
          </div>
          <div class="contribution-options">
            <div class="contribution-items">
              <div class="contribution-types">
                <div class="help-us-by">Help us by</div>
              </div>
              <a class="donating-funds">Donating funds</a>
            </div>
            <div class="contribution-items1">
              <div class="help-us-by-wrapper">
                <div class="help-us-by">Help us by</div>
              </div>
              <a class="volunteering-for-a"
                >Volunteering for a nearby Bio Reserve</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent3">
        <div class="frame-child21"></div>
        <div class="newsletter-content">
          <div class="sq-km-is">
            Subscribe to our newsletter to get insights about the topics that
            suit your interests
          </div>
        </div>
        <div class="email-input">
          <div class="input-fields">
            <div class="enter-you-email">Enter you email</div>
            <input
              class="input-placeholder"
              placeholder="_____________________________"
              type="text"
            />
          </div>
          <button class="subscription-button">
            <div class="subscribe-now">Subscribe now</div>
          </button>
        </div>
      </div>
      <div class="footer-content-parent">
        <div class="footer-content">
          <img
            class="footer-content-child"
            loading="lazy"
            alt=""
            src="/static/public/group-1000005086-2.svg"
          />

          <div class="footer-navigation">
            <nav class="navigation-links-footer">
              <button class="home-button">
                <div class="home">Home</div>
              </button>
              <div class="link-items-wrapper">
                <div class="link-items">
                  <div class="endangered-animal-predictor-container">
                    <p class="endangered-animal">Endangered animal</p>
                    <p class="zoom-in-to">predictor</p>
                  </div>
                </div>
              </div>
              <div class="navigation-links-footer-inner" id="frameContainer1">
                <div class="donations-wrapper">
                  <div class="donations">Donations</div>
                </div>
              </div>
              <div class="navigation-links-footer-inner" id="frameContainer2">
                <div class="blogs-wrapper">
                  <div class="blogs">Blogs</div>
                </div>
              </div>
              <button class="navigation-links-footer-inner1" id="frameButton1">
                <div class="about-us-wrapper">
                  <div class="about-us">About Us</div>
                </div>
              </button>
            </nav>
          </div>
        </div>
        <button class="logout-button">
          <div class="log-out">LOG OUT</div>
        </button>
      </div>
    </div>

    <script>
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./donation.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./blogs.html";
        });
      }
      
      var frameButton1 = document.getElementById("frameButton1");
      if (frameButton1) {
        frameButton1.addEventListener("click", function (e) {
          // Please sync "BioDiversity V1" to the project
        });
      }
      </script>
  </body>
</html>
